<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1028120178308-pm3bjvcheffjje4i1hkg0u0a43rnooum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028120178308-pm3bjvcheffjje4i1hkg0u0a43rnooum</string>
	<key>API_KEY</key>
	<string>AIzaSyA8HkDC2zEd-2k6PQRUkgXy4TwcrcigpuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1028120178308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ketanchoyal.theParker</string>
	<key>PROJECT_ID</key>
	<string>theparker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>theparker-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028120178308:ios:b8f1b0e6fd8ddd1b</string>
	<key>DATABASE_URL</key>
	<string>https://theparker-ios.firebaseio.com</string>
</dict>
</plist>